{% extends "base.html" %} {% block content %} {% load i18n %}
<div class="bg-accent mx-5 md:mx-15 p-5 pt-10 pb-10 rounded-xl">
    <div class="flex-col pt-3">
      <div>
        <h1 class="text-6xl font-bold mb-2">{% trans "Learou" %}</h1>
        <h2 class="text-4xl font-bold mt-4 mb-3">{% trans "Show your growth" %}</h2>
        <p class="my-3 font-bold">
          Develop skills, build projects, learn new things and track your
          progress.
        </p>
        <a href="https://github.com/UnMolDeQuimica/learou" target="_blank"
          ><button class="btn btn-primary">Get Started</button></a
        >
      </div>
  </div>
</div>
{% endblock content %}
