
{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
  {% block breadcrumbs %}
  <div class="breadcrumbs text-sm max-w-300 mx-1 md:mx-15 py-5 px-10 rounded-xl">
    <ul>
      {% include "app/partials/base_breadcrumb.html" with  breadcrumb_url="home" breadcrumb_name="Home" icon="home" %}
    </ul>
  </div>
  {% endblock breadcrumbs %}
  <div class="max-w-300 mx-1 md:mx-15 py-5 px-10 rounded-xl" id="object-fields">
    <h2>{% trans "Are you sure you want to log out?" %}</h2>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% trans "Log Out"%}</button>
        <button class="btn btn-error" onclick="window.location.href='/'">{% trans "Cancel"%}</button>
      </form>
  </div>
{% else %}
  <script>
    window.location.href = "/accounts/login/";
  </script>
{% endif %}
{% endblock content %}
